# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite
.agent/rules/answerlanguage.md
docs/nanobananapro.md
buildlogs.txt
deploylogs.txt
mcp.txt
SQLSCHEME.md
docs/File upload API/Base64 File Upload.md
docs/File upload API/File Stream Upload.md
docs/File upload API/File Upload API Quickstart.md
docs/File upload API/URL File Upload.md
docs/Tribute/Pay bot code/report.md
docs/Tribute/Tribute products.json
docs/Tribute/Webhook.md
SQLSCHEME.sql
migrations/*
.env
