# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite
.agent/rules/answerlanguage.md
new ui/
buildlogs.txt
deploylogs.txt
mcp.txt
SQLSCHEME.md
SQLSCHEME.sql
migrations/*
.env
scripts/temp_migrate.js
uploads/*
logs/*
user_692574150_logs.json
docs/Private/*
bd/authscheme.sql
bd/publicscheme.sql
